@page
@model WebApplication2.Pages.Drinks.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Drink
            </th>
            <th>
                Caffeine, mg/100 ml
            </th>
            <th>
                Default size, ml
            </th> 
            
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Drink) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CafeinePer100ml)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DefaultSize)
            </td>
            
            <td>
                    @if (item.Ownership == DrinkOwnership.Own)
                    {
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    }
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
